@import '../../global';

/*
Navigation
*********/

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 40px;
  width: 100%;
  background-color: white;
}

.icon{
  color: $dark-grey;
  font-size: $f-l;
  margin: 0 30px;
}

.link:hover .icon{
  color: $blue-green;
}

#notif-icon{
  position: relative;
}

#notif-icon > span {
  position: absolute;
  bottom: 11px;
  right: 17px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #e10050;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  color: white;
  font-weight: 700;
}


@media (min-width: $tabletLandscape) { 

  .nav {
    height: 80px;
    background-color: #03dac626;
    padding-top: 24px;
    border-top: 1px solid #03dac626;
    z-index: 10000;
  }

  .nav .icon {
    font-size: 2.5em;
    margin: 0 60px;
  }

  #notif-icon > span{
    bottom: 15px;
    right: 52px;
    width: 17px;
    height: 17px;
    padding: 0;
  }
}