@import '../../global';

/*
Browse
*********/

.browse {
  height: 100vh;
}

.browse {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  .infos-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

.browse > div {width:100%;}

@media (min-width: $tabletLandscape) { 
  .browse {
    flex-wrap: wrap;
    justify-content: center;
  }
  .browse > div {
    width: 400px;
    min-height: 500px;
    margin: 10px 15px;
    background: #fff;
    box-shadow: 5px 2px 12px #03dac60d;
    border-radius: 2px;
  }
  .infos-container-other-user .icon{
    margin: 0;
  }
  .infos-container-other-user .icon-top{
    font-size: $f-s;
  }
  .link-to-profile{
    font-family: "Meyrin";
    font-size: 1.8em;
    color: #02bad9;
    display: inline-block;
    margin: 17px 0;
    font-weight: 600;
  }
  #form-browse > div{
    display: inline-block;
  }
}
