@import '../../global';

h2{
  margin-top: 0;
}


.profile-images{
  padding: 20px 25px !important;
  display: flex;
  flex-wrap: wrap !important;
}

.profile-images .user-img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 0 59px;
  flex: 1;
}

.title-profile-images{
  position: relative;
}

.title-profile-images a{
  position: absolute;
  top: 10px;
  left: 10px;
}

.bio-area{
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-appearance: none;
  padding: 5px;
  background-color: rgba(3, 218, 198, 0.2);
  margin-bottom: 20px;
  width: 90%;
  color: #1f1f1f;
  font-size: 1em;
}

.label-file {
  cursor: pointer;
  display: inline-block;
  border: 2px solid #2196F3;
  border-radius: 3px;
  padding: 7px 15px;
  margin-top: 10px;
  color: #2196F3;
}

.label-file:hover {
  background: #2196F3;
  color: white;
}

.input-file {
  position: relative;
  top: -43px;
  z-index: 100;
  opacity: 0;
}

@media (max-width: $tabletLandscape) { 
  .fadein {
    margin: 0 auto;
  }
  .profile-images .user-img{
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin: 0;
    flex: 1;
  }
}