@import '../../global';

h2 {
  margin-top: 0;
  font-size: $f-l;
}

.history {
  padding: 20px 25px !important;
}

.history-container{
  margin-bottom: 50px;
}

.history-sections {
  display: inline-block;
}

.history-sections a{
  display: inline-block;
  font-family: "Meyrin";
  font-weight: bold;
  font-size: 1.8em;
  color: $blue-green;
  margin-bottom: 30px;
}

.history-sections h3{
  text-align: left;
  font-size: 1em;
}

.history-sections.hs2{
  vertical-align: top;
}

.history-sections > div{
  width: 65%;
  margin: 5px auto;
  text-align: left;
}

.actions{
  display: block;
}

@media (min-width: $tabletLandscape) { 
  h2 {
    font-size: 2.5em;
  }
  .history-container{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .history-sections > a{
    font-size: 2.5em;
  }
  .history-sections > div{
    width: 11%;
  }
}