@import '../../global';

h2 {
  margin-top: 0;
  font-size: $f-l;
}

.history {
  padding: 20px 25px !important;
}

.history-sections {
  display: flex;
  flex-direction: row;
}

.history-sections > a{
  display: inline-block;
  vertical-align: baseline;
  width: 49%;
  font-family: "Meyrin";
  font-weight: bold;
  font-size: 1.8em;
  color: $blue-green;
}

.history-sections h3{
  text-align: left;
  font-size: 1em;
}

.history-sections > div{
  text-align: left;
}

@media (min-width: $tablet) { 
  h2 {
    font-size: 2.5em;
  }
  .history-container{
    width: 50%;
    margin: 0 auto;
  }
  .history-sections > a{
    font-size: 2.5em;
  }
}