@import '../../global';

#messages-header, #messages-container{
    padding: 20px 25px !important;
}

.msg-container{
    margin: 2px 0;    
}

.author-container{
    position: relative;
    width: 59px;
    height: 56px;
}

.author-container > .rond{
    position: absolute;
    top:0;
    right:0;
    width: 11px;
    height: 11px;
}

.author-container > .img{
    position: absolute;
    bottom:0;
    left:0;
}
.msg-form{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: white;
}

.msg-form input{
    display: inline-block;
    vertical-align: baseline;
    width: 79%;
    min-height: 48px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
    border-radius: 2px;
}

.msg-form button.button-submit{
    display: inline-block;
    vertical-align: baseline;
    width: 20%;
}