@import '../../global';

.banner {
  width: 90%;
  height: auto;
  margin: 12vh auto 0;
  padding: 15px 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
  background-color: $blue-green;
  color: $white;
  border-radius: 5px;
  font-weight: $semi-b;
  font-size: $f-m;
  animation-duration: 3s;
  animation-name: appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
