@import '../../global';

/*
Link
*********/

.btn {
  display: block;
  width: 30%;
  margin: 10px auto;
  padding: 15px 10px;
  border: 2px solid #2196F3;
  border-radius: 2px;
  color: #0389f2;
}

/*
Button Submit
*********/

button {
  display: block;
  width: 30%;
  margin: 10px auto;
  padding: 15px 10px;
  border: 2px solid #2196F3;
  border-radius: 3px;
  color: #0389f2;  
  background-color: transparent;
}

/*
Button Rond
*********/

.btn-rond {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: none;
}

.btn-rond.like {
  padding: 12px 0;
}

.btn-rond.dislike {
  padding: 13px 0;
}

/*
Input
*********/

input {
  display: block;
  width: 30%;
  margin: 10px auto;
  padding: 5px 10px;
  border: 2px solid #2196F3;
  border-radius: 3px;
  //color: #fff;
  background-color: transparent;
}
